# Disable directory listing
Options -Indexes

RewriteEngine On
RewriteBase /

# Fix for OVH HTTPS
SetEnvIf X-Forwarded-Proto https HTTPS=on

# Redirect to HTTPS when not using it (useful behind OVH proxy)
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !=https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Standard Bedrock/WordPress front controller
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
