# Disable directory listing
Options -Indexes

RewriteEngine On
RewriteBase /wp/

# Fix for OVH HTTPS
SetEnvIf X-Forwarded-Proto https HTTPS=on

# Standard Bedrock/WordPress front controller
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
